include _mixins.jade
doctype html
html(lang="es")
	head
		+head("CAO | Administrador")
body
	#all.toggled-right
		header.mainHeader
			+header('Administrador')
				.container-fluid.bg-info.subtitle.text-info
					.col-xs-4
						.lead Lista de Proyectos
					.col-xs-8.text-right
						.row
							form(action="#").form-inline
								.form-group.col-xs-6#exampleTable_length
									select(name="").form-control.input-sm
										option(disabled selected) Mostrar datos
										option(value="") 1
										option(value="") 2
										option(value="") 3
								.form-group.col-xs-6#exampleTable_filter
									input(type="text", placeholder="Filtrar").form-control.input-sm
							//button.btn.btn-primary.btn-xs
								.fa.fa-cloud
								|  Guardar
		+sidebarLeft('administrador')
		+sidebarRight
		
		
		
			
				
				
		#page-content-wrapper
			.content-fluid
				.row
					.col-lg-12

						table.table-hover.table-condensed(data-tablesaw-mode="columntoggle", data-tablesaw-minimap, data-tablesaw-sortable)#exampleTable
							thead
								tr.bg-primary
									th(data-tablesaw-priority="persist") Nombre del Proyecto
									th(data-tablesaw-priority="1") Descripción
									th(data-tablesaw-priority="4") Dependencia
									th(data-tablesaw-priority="3") Secretaría
									th(data-tablesaw-priority="2") Directivos
							tbody#bodyTable
								- for(var i=0; i<2; i++)
									tr
										td 
											strong: a(href="#") Obras del Sistema Hidráulico en el Lago de Texcoco, en el Estado de México.
											p: small Nombre corto:
												strong Obras en el Lago de Texcoco.
										td Obras del Sistema Hidráulico en el Lago de Texcoco, en el Estado de México.
										td Comisión Nacional del Agua
										td Secretaría de Medio Ambiente y Recursos Naturales
										td
											p: i.fa.fa-user.text-success: span.text-primary  Martín Salcedo Lázaro
											p: i.fa.fa-user.text-success: span.text-primary  Felipe Maya Bernal

				.row
					.col-lg-6
						nav
							ul.pagination
								li#exampleTable_info Mostrando <strong class="text-success">1 a 10</strong> de 41 valores
					.col-lg-6
						nav
							ul.pagination#exampleTable_paginate
								li.disabled
									a(href="#")#exampleTable_previous
										.fa.fa-chevron-left
										|  Anterior
								li.active
									a(href="#") 1
								- for(var i=2; i<10;i++)
									li
										a(href="#")=i
								li
									a(href="#")#exampleTable_next
										| Siguiente 
										.fa.fa-chevron-right
		+sharedScripts
		