include _mixins.jade
doctype html
html(lang="es")
	head
		+head("CAO | Directivo")
body
	#all.toggled-right
		header.mainHeader
			+header('Directivo')
				.container-fluid.bg-info.subtitle.text-info
					.col-xs-12
						.lead Acerca De
					
		+sidebarLeft('directivo')
		+sidebarRight
		
		
		
			
				
				
		#page-content-wrapper
			.content-fluid
				.row
						.col-xs-6
							.panel.panel-primary
								.panel-heading: .fa.fa-info-circle  Créditos
								.panel-body
									p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis quia repellat blanditiis doloremque unde, adipisci quam ad repudiandae fuga! Tenetur quae nulla, tempora praesentium nemo totam corporis fugit quam suscipit.
									p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis quia repellat blanditiis doloremque unde, adipisci quam ad repudiandae fuga! Tenetur quae nulla, tempora praesentium nemo totam corporis fugit quam suscipit.
									p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis quia repellat blanditiis doloremque unde, adipisci quam ad repudiandae fuga! Tenetur quae nulla, tempora praesentium nemo totam corporis fugit quam suscipit.
									p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis quia repellat blanditiis doloremque unde, adipisci quam ad repudiandae fuga! Tenetur quae nulla, tempora praesentium nemo totam corporis fugit quam suscipit.
									p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis quia repellat blanditiis doloremque unde, adipisci quam ad repudiandae fuga! Tenetur quae nulla, tempora praesentium nemo totam corporis fugit quam suscipit.
									p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis quia repellat blanditiis doloremque unde, adipisci quam ad repudiandae fuga! Tenetur quae nulla, tempora praesentium nemo totam corporis fugit quam suscipit.
									p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis quia repellat blanditiis doloremque unde, adipisci quam ad repudiandae fuga! Tenetur quae nulla, tempora praesentium nemo totam corporis fugit quam suscipit.
									p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis quia repellat blanditiis doloremque unde, adipisci quam ad repudiandae fuga! Tenetur quae nulla, tempora praesentium nemo totam corporis fugit quam suscipit.
						.col-xs-6
							.panel.panel-primary
								.panel-heading: .fa.fa-exclamation  Avisos legales
								.panel-body
									p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis quia repellat blanditiis doloremque unde, adipisci quam ad repudiandae fuga! Tenetur quae nulla, tempora praesentium nemo totam corporis fugit quam suscipit.
									hr
									h4 Aviso de privacidad
									p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis quia repellat blanditiis doloremque unde, adipisci quam ad repudiandae fuga! Tenetur quae nulla, tempora praesentium nemo totam corporis fugit quam suscipit.
									p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis quia repellat blanditiis doloremque unde, adipisci quam ad repudiandae fuga! Tenetur quae nulla, tempora praesentium nemo totam corporis fugit quam suscipit.
									p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis quia repellat blanditiis doloremque unde, adipisci quam ad repudiandae fuga! Tenetur quae nulla, tempora praesentium nemo totam corporis fugit quam suscipit.
									hr
									h4 Aviso de privacidad
									p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis quia repellat blanditiis doloremque unde, adipisci quam ad repudiandae fuga! Tenetur quae nulla, tempora praesentium nemo totam corporis fugit quam suscipit.
									p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis quia repellat blanditiis doloremque unde, adipisci quam ad repudiandae fuga! Tenetur quae nulla, tempora praesentium nemo totam corporis fugit quam suscipit.
									p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis quia repellat blanditiis doloremque unde, adipisci quam ad repudiandae fuga! Tenetur quae nulla, tempora praesentium nemo totam corporis fugit quam suscipit.

		
		+sharedScripts
		