include _mixins.jade
doctype html
html(lang="es")
	head
		+head("CAO | Directivo")
body
	#all.toggled-right
		header.mainHeader
			+header('Directivo')
				.container-fluid.bg-info.subtitle.text-info
					.col-xs-6
						.lead Ayuda
					.col-xs-6
							form(action="#").form-inline
									input(type="text", placeholder="Filtrar").form-control.input-sm
		+sidebarLeft('directivo')
		+sidebarRight
		
		
		
			
				
				
		#page-content-wrapper
			.content-fluid
				.row
					- for(var i = 0; i<6; i++)
						.col-xs-4
							.panel.panel-primary
								.panel-heading: .fa.fa-info-circle  Video informativo sobre plataforma
								.panel-body
									iframe(width="100%", src="https://www.youtube.com/embed/ScMzIvxBSi4", frameborder="0", allowfullscreen)
								.panel-footer Aprendizaje básico. Se visitan secciones del Dashboard, y administración del perfil.

		
		+sharedScripts
		