include _mixins.jade
doctype html
html(lang="es")
	head
		+head("CAO | Directivo")
body
	#all.toggled-right
		header.mainHeader
			+header('Supervisor')
				.container-fluid.bg-info.subtitle.text-info
					.col-xs-4
						.lead Lista de Obras
					.col-xs-8.text-right
						.row
							form(action="#").form-inline
								.form-group.col-xs-6
									select(name="").form-control.input-sm
										option(disabled selected) Mostrar datos
										option(value="") 1
										option(value="") 2
										option(value="") 3
								.form-group.col-xs-6
									input(type="text", placeholder="Filtrar").form-control.input-sm
							//button.btn.btn-primary.btn-xs
								.fa.fa-refresh <span class="hidden-xs"> Actualizar datos</span>
		+sidebarLeft('supervisor')
		+sidebarRight
		
		
		
				
				
		#page-content-wrapper
			.content-fluid
				.row
					.col-lg-12
					
						table.table-hover.table-condensed(data-tablesaw-mode="columntoggle", data-tablesaw-minimap, data-tablesaw-sortable)
							thead
								tr.bg-primary
									th(data-tablesaw-priority="persist") Nombre
									th(data-tablesaw-priority="1") Descripción
									th(data-tablesaw-priority="2") Proyecto
									th(data-tablesaw-priority="3") Dependencia
									th(data-tablesaw-priority="4") Fecha Inicio
									th(data-tablesaw-priority="5") Fecha Termino
									th(data-tablesaw-priority="6") Importe sin IVA
							tbody
								- for(var i=0; i<5; i++)
									tr
										td 
											strong: a(href="supervisor_obras_listaDeObras_listaDeConceptos.html") Dragado de azolve y rectificación de la Laguna de Regulación Churubusco, zona seca, lado sur.
										td Dragado de azolve y rectificación de la Laguna de Regulación Churubusco, zona seca, lado sur.
										td Obras en el Lago de Texcoco.
										td Comisión Nacional del Agua.
										td 02/02/2015
										td 26/02/2015
										td $28,590,681.02

		

		
		+sharedScripts
		