include _mixins.jade
doctype html
html(lang="es")
	head
		+head("CAO | Directivo")
body
	#all.toggled-right
		header.mainHeader
			+header('Supervisor')
				.container-fluid.bg-info.subtitle.text-info
					.col-xs-4
						.lead Lista de Conceptos
					.col-xs-8.text-right
						.row
							form(action="#").form-inline
								.form-group.col-xs-6#exampleTable_length
									select(name="").form-control.input-sm
										option(disabled selected) Mostrar datos
										option(value="") 1
										option(value="") 2
										option(value="") 3
								.form-group.col-xs-6#exampleTable_filter
									input(type="text", placeholder="Filtrar").form-control.input-sm
							//button.btn.btn-primary.btn-xs
								.fa.fa-refresh <span class="hidden-xs"> Actualizar datos</span>
		+sidebarLeft('supervisor_obra')
		+sidebarRight
		
		
		
				
				
		#page-content-wrapper
			.content-fluid
				.row 
					.col-lg-12
						
						h4
							small.text-success Obra: 
							p
							.fa.fa-angle-right.text-success
							|  Dragado de azolve y rectificación de la Laguna de Regulación Churubusco, zona seca, lado sur.

				.row
					.col-lg-12
						table.table-hover.table-condensed(data-tablesaw-mode="columntoggle", data-tablesaw-minimap, data-tablesaw-sortable)#exampleTable
							thead
								tr.bg-primary
									th(data-tablesaw-priority="persist") Descripción
									th(data-tablesaw-priority="1") Clave
									th(data-tablesaw-priority="2") U. de medida
									th(data-tablesaw-priority="3") Cantidad total
									th(data-tablesaw-priority="4") Precio u.
									th(data-tablesaw-priority="5") Importe
									th(data-tablesaw-priority="6") Fecha Inicio
									th(data-tablesaw-priority="7") Fecha Fín
							tbody
								- for(var i=0; i<5; i++)
									tr
										td 
											strong: a(href="#") ACARREO A KILÓMETROS SUBSECUENTES DEL MATERIAL PRODUCTO DE EXCAVACIONES, DEMOLICIONES, ETC. Y/O CUA...
										td DPBCC-05
										td M3-KM
										td 121833.26
										td $6.39
										td $778,520.92
										td 04/08/2014
										td 15/11/2014
				.row
					.col-lg-6
						nav
							ul.pagination
								li#exampleTable_info Mostrando <strong class="text-success">1 a 10</strong> de 41 valores
					.col-lg-6
						nav
							ul.pagination#exampleTable_paginate
								li.disabled
									a(href="#")#exampleTable_previous
										.fa.fa-chevron-left
										|  Anterior
								li.active
									a(href="#") 1
								- for(var i=2; i<10;i++)
									li
										a(href="#")=i
								li
									a(href="#")#exampleTable_next
										| Siguiente 
										.fa.fa-chevron-right

		
		+sharedScripts
		